body {
    padding: 0px;
    margin: 0px;
    min-width: 20em;
    font-size: 16px;
}

hr {
    margin: 0;
    border: solid;
}

.gridcontainer {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 43.75em) {
    .gridcontainer {
        grid-template-columns: 100vw;
    }
}

.greeter {
    background-image: url(pics/imageonline-co-blurimage.png);
    background-size: cover;
    background-position: center;
    text-align: left;
    padding-top: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
}
 
.greeterseparator {
    width: 90%;
    float: left;

}

h1,
h2{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.1em;
}

footer {
    position: absolute;
    bottom: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.1em;
}


.scrolledgrid {
    overflow-y: scroll;
}

.myimage,
.aboutme,
.hobbiesandinterest,
.table {
    padding: 3em;
}

.myselfie {
    width: 100%;
}

ul {
    -moz-column-count: 2; /* For FireFox */
    -webkit-column-count: 2; /* For Safari/Chrome */
    column-count: 2; /* For when the standard gets fully supported */
    }


.repeating-before {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding-left: 1rem;
          text-indent: -0.7rem;
        }
      
    li:nth-child(7n+1)::before {
          content: "🎼 ";
        }
      
    li:nth-child(7n+2)::before {
          content: "💭 ";
        }
        
    li:nth-child(7n+3)::before {
          content: "🎮 ";
        }

    li:nth-child(7n+4)::before {
            content: "💻 ";
          }
        
    li:nth-child(7n+5)::before {
            content: "📸 ";
          }
          
    li:nth-child(7n+6)::before {
            content: "🍲 ";
          }

    li:nth-child(7n)::before {
            content: "👥 ";
          }
    
     
    
      
